<div class="bg-4 container-fluid px-3">
  <div class="text-end">
    <a href="/#/graphy-privacy-terms">Graphy Privacy and Terms</a>
  </div>
  <div class="container-fluid bg-4">
    <div class="p-25 d-flex text-center justify-content-around">
      <h1>
        <span class="d-flex flex-column"
          >GRAPHY
          <img
            alt="icon consisting of large G within a cartesian plane behind it"
            src="https://www.shanetaylor.dev/assets/img/graphy/LaunchIcon/graphy_icon_192_x_192.webp"
            title="Graphy" />
        </span>
      </h1>
    </div>
    <div class="container-fluid">
      <h1>Graphy Application Reference Guide</h1>
      <div class="p-5">
        <p>
          Graphy is an Android Application written by Shane Taylor and developed by Shane Taylor, Daniel Fitch, Itzel
          Ruiz, Joseph Hibdon, and Rachel Adler, all of Northeastern Illinois University. &nbsp;Graphy reinforces the
          basics of the cartesian plane and properties of triangles through interactive screens that present problems to
          users for solving.
        </p>
      </div>
      <div class="p-5">
        <p>
          <label>Menu &nbsp;&ndash;</label> From the main menu screen, the user can click an image to jump directly to
          any of the six activities.
        </p>
        <p>
          <label>Truth Tables &nbsp;&ndash;</label> The truth table screen is a brief introduction to formal logic and
          truth tables with a &ldquo;If P then Q&rdquo; table and related text example.
        </p>
        <p><label>Point Graph button &nbsp;&ndash;</label> takes user to the point graph.</p>
        <p><label>Main Menu button &nbsp;&ndash;</label> takes the user back to the main menu.</p>
        <p>
          <label>Point Graph &nbsp;&ndash;</label> This graph first asks the user to plot the randomly generated blue
          point's reflection across the Y axis. Once successful, it then prompts the user to do the same across the X
          axis.
        </p>
        <p><label>Plot button &nbsp;&ndash;</label> plots the user&rsquo;s coordinates on the graph and evaluates.</p>
        <p>
          <label>Reset Graph button &nbsp;&ndash;</label> removes any user generated points and generates a new random
          point.
        </p>
        <p><label>Line Graph button &nbsp;&ndash;</label> takes user to the line graph.</p>
        <p><label>Menu button &nbsp;&ndash;</label> takes the user back to the main menu.</p>
        <p>
          <label>Line Graph &nbsp;&ndash;</label> This graph first asks the user to plot a line parallel to the randomly
          generated blue line. &nbsp;Once successful, it then prompts the user to plot a perpendicular line.
        </p>
        <p><label>Plot button &nbsp;&ndash;</label> plots the user&rsquo;s coordinates on the graph and evaluates.</p>
        <p>
          <label>Reset Graph button &nbsp;&ndash;</label> removes any user generated lines and generates a new random
          line.
        </p>
        <p><label>Reflexive Graph button &nbsp;&ndash;</label> takes user to the reflexive triangles graph.</p>
        <p><label>Menu button &nbsp;&ndash;</label> takes the user back to the main menu.</p>

        <p>
          <label>Reflexive Triangles Graph &nbsp;&ndash;</label> This graph first asks the user to plot a triangle in
          quadrant II that is reflexive of the randomly generated triangle in quadrant I. &nbsp;The lines are color
          coded to match the user&rsquo;s input. &nbsp;After a successful input, it then asks the user to do the same in
          quadrant III and then in quadrant IV.
        </p>
        <p><label>Plot button &nbsp;&ndash;</label> plots the user&rsquo;s coordinates on the graph and evaluates.</p>
        <p>
          <label>Reset Graph button &nbsp;&ndash;</label> removes any user generated lines and generates a new random
          triangle.
        </p>
        <p><label>Similar Triangles button &nbsp;&ndash;</label> takes user to the similar triangles graph.</p>
        <p><label>Menu button &nbsp;&ndash;</label> takes the user back to the main menu.</p>
        <p>
          <label>Similar Triangles &nbsp;&ndash;</label> The graph first asks the user to create a similar triangle to
          the randomly generated one, given the lengths of the three sides (SSS). After a successful input, it then asks
          the user to create a similar triangle given two lengths and the angle between them (SAS). The angle displayed
          is in decimal format and produced using the following formula:
        </p>
        <p><label>Submit button &nbsp;&ndash;</label> evaluates user input.</p>
        <p>
          <label>Reset Graph button &nbsp;&ndash;</label> removes any user input and generates a new random triangle.
        </p>
        <p><label>Pythagorean Theorem button &nbsp;&ndash;</label>takes user to the Pythagorean Theorem graph.</p>
        <p><label>Menu button &nbsp;&ndash;</label> takes the user back to the main menu.</p>
        <p>
          <label>Pythagorean Theorem &nbsp;&ndash;</label> The graph generates a random right triangle, gives the user
          the lengths of sides A and B, and asks the user for the length of side C.
        </p>
        <p><label>Submit button &nbsp;&ndash;</label> evaluates user input.</p>
        <p>
          <label>Reset Graph button &nbsp;&ndash;</label> removes any user input and generates a new random triangle.
        </p>
        <p><label>Menu button &nbsp;&ndash;</label> takes the user back to the main menu.</p>
      </div>
      <p>
        For support or bug issues, please email Graphy Support at
        <a
          rel="noopener noreferrer"
          href="mailto:43ec53f2@opayq.com"
          >43ec53f2&#64;opayq.com</a
        >.
      </p>
      <p>
        This material is based upon work supported by the National Science Foundation under Grant Number DRL-1640041
      </p>
      <p>Graphy is licensed under the GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007</p>
    </div>
  </div>
</div>
