{
  "bracketSameLine": true,
  "bracketSpacing": true,
  "endOfLine": "crlf",
  "printWidth": 120,
  "proseWrap": "preserve",
  "semi": true,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
