<div class="d-flex flex-container">
  <div>
    <div class="text-center">
      <span class="emphasis">{{ exampleData?.name }}</span>
    </div>
    <ng-container *ngIf="exampleData?.playstoreLink !== undefined">
      <div class="text-center">
        <a
          rel="noopener noreferrer"
          [href]="exampleData?.playstoreLink"
          class="btn btn-outline-secondary min-btn-width r"
          target="_blank">
          <i class="fab fa-google-play"></i>
          {{ playstoreDownload }}
        </a>
      </div>
    </ng-container>
    <ng-container *ngIf="exampleData?.websiteLink !== undefined">
      <div class="text-center">
        <a
          rel="noopener noreferrer"
          [href]="exampleData?.websiteLink"
          class="btn btn-outline-secondary min-btn-width r"
          target="_blank">
          <i class="fas fa-link"></i>
          {{ websiteLink }}
        </a>
      </div>
    </ng-container>
    <ng-container *ngIf="exampleData?.repoLink !== undefined">
      <div class="text-center">
        <a
          rel="noopener noreferrer"
          [href]="exampleData?.repoLink"
          class="btn btn-outline-secondary min-btn-width"
          target="_blank">
          <i class="fab fa-github"></i>
          {{ viewSourceCode }}
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="exampleData?.userGuideLink !== undefined">
      <div class="text-center">
        <a
          rel="noopener noreferrer"
          [href]="exampleData?.userGuideLink"
          class="btn btn-outline-secondary min-btn-width"
          target="_self">
          <i class="fas fa-link"></i>
          {{ userGuide }}
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="exampleData?.privacyLink !== undefined">
      <div class="text-center">
        <a
          rel="noopener noreferrer"
          [href]="exampleData?.privacyLink"
          class="btn btn-outline-secondary min-btn-width"
          target="_self">
          <i class="fas fa-link"></i>
          {{ privacyPolicy }}
        </a>
      </div>
    </ng-container>

    <div class="d-flex m-auto">
      <div class="d-flex mx-auto flex-column">
        <ng-container *ngIf="exampleData?.languageData && exampleData?.languageData !== null">
          <div>
            <ng-container [ngSwitch]="exampleData?.languageData.lang[0]">
              <i
                *ngSwitchCase="'Java'"
                role="img"
                class="fab fa-java notranslate align-self-center"></i>
              <!-- TODO: this doesn't exist yet -->
              <!-- <i
                *ngSwitchCase="'C#'"
                role="img"
                class="fas fa-csharp notranslate align-self-center"
              ></i> -->
              <i
                *ngSwitchDefault
                role="img"
                class="fas fa-code notranslate align-self-center"></i>
              &nbsp;
            </ng-container>
            <label>Language: {{ exampleData?.languageData.lang[0] }}</label>
          </div>
          <ng-container *ngIf="exampleData?.name === 'BrewBuddy'">
            <div>
              <i
                role="img"
                class="fab fa-swift notranslate align-self-center"></i>
              &nbsp;
              <label>Language: Swift</label>
            </div>
          </ng-container>
        </ng-container>

        <!-- TODO: fix this to work more dynamically with multiple values -->
        <!-- <ng-container *ngIf="languages?.length > 0"> -->
        <!-- <ng-template *ngFor="let lang of languages">
          <i role="img" class="fas fa-code notranslate align-self-center"></i>
          &nbsp;
          <label>Language: {{ lang }}</label>
        </ng-template> -->
        <!-- </ng-container> -->
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <p
        *ngFor="let attribute of exampleData?.attributes; first as isFirst"
        class="m-0 w-auto">
        <ng-container *ngIf="isFirst"> <span class="emphasis"></span> {{ attribute }} </ng-container>
        <ng-container *ngIf="!isFirst">
          <span
            *ngIf="!isFirst"
            class="emphasis"
            >&#8281;</span
          >
          &nbsp;
          {{ attribute }}
          &nbsp;
        </ng-container>
      </p>
    </div>

    <p class="p-3">
      {{ exampleData?.blurb }}
    </p>
    <div
      class="d-flex"
      [ngClass]="exampleData?.portrait ? 'w-75 m-auto' : 'w-100 m-auto'">
      <carousel
        class="d-flex m-auto"
        [isAnimated]="true">
        <slide *ngFor="let image of exampleData?.images; index as i; count as c">
          <img
            [src]="image"
            alt="Application Screen Shot"
            class="d-block w-100" />
        </slide>
      </carousel>
    </div>
  </div>
</div>
