@use '../../../variables' as *;

.min-btn-width {
  margin: 0.5rem;
  min-width: 50%;
}

a {
  color: $orange-color;

  :hover {
    color: $orange-color;
  }

  :visited {
    color: $orange-color;
  }

  :focus {
    color: $orange-color;
  }
}

p {
  margin-bottom: 0;
}
