a {
  color: #ffa500;
}
.btn-lg {
  min-width: 25rem;
}
p {
  margin-bottom: 0px;
}
.carousel-indicators {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
ol {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
