<div class="d-flex align-items-center container-fluid pt-5">
  <div class="card shadow-lg">
    <div class="text-center">
      <span class="emphasis">{{ exampleData.name }}</span>
    </div>
    <ng-container *ngIf="exampleData.playstoreLink != undefined">
      <div class="text-center">
        <a
          [href]="exampleData.playstoreLink"
          class="btn btn-outline-secondary min-btn-width r"
          target="_blank"
        >
          <fa-icon [icon]="faGooglePlay"></fa-icon>
          {{ playstoreDownload }}
        </a>
      </div>
    </ng-container>
    <ng-container *ngIf="exampleData.websiteLink != undefined">
      <div class="text-center">
        <a
          [href]="exampleData.websiteLink"
          class="btn btn-outline-secondary min-btn-width r"
          target="_blank"
        >
          <fa-icon [icon]="falink"></fa-icon>
          {{ websiteLink }}
        </a>
      </div>
    </ng-container>
    <ng-container *ngIf="exampleData.repoLink != undefined">
      <div class="text-center">
        <a
          [href]="exampleData.repoLink"
          class="btn btn-outline-secondary min-btn-width"
          target="_blank"
        >
          <fa-icon [icon]="faGithub"></fa-icon>
          {{ viewSourceCode }}
        </a>
      </div>
    </ng-container>

    <div class="row m-auto">
      <div class="d-flex mx-auto flex-column">
        <ng-container *ngIf="langData">
          <div>
            <i role="img" class="fas fa-code notranslate align-self-center"></i>
            &nbsp;
            <label>Language: {{ langData?.lang[0] }}</label>
          </div>
          <ng-container *ngIf="exampleData.name === 'BrewBuddy'">
            <div>
              <i
                role="img"
                class="fas fa-code notranslate align-self-center"
              ></i>
              &nbsp;
              <label>Language: iOS</label>
            </div>
          </ng-container>
        </ng-container>

        <!-- TODO: fix this to work more dynamically with multiple values -->
        <!-- <ng-container *ngIf="languages?.length > 0"> -->
        <!-- <ng-template *ngFor="let lang of languages">
          <i role="img" class="fas fa-code notranslate align-self-center"></i>
          &nbsp;
          <label>Language: {{ lang }}</label>
        </ng-template> -->
        <!-- </ng-container> -->
      </div>
    </div>

    <div class="row d-flex justify-content-center align-content-between">
      <p *ngFor="let attribute of exampleData.attributes" class="m-0">
        <span class="emphasis">&#8281;</span> &nbsp; {{ attribute }}
        &nbsp;
      </p>
      <p><span class="emphasis">&#8281;</span></p>
    </div>

    <p style="padding: 5%">
      {{ exampleData.blurb }}
    </p>
    <div class="d-flex m-auto w-60">
      <carousel class="m-auto" [isAnimated]="true">
        <slide *ngFor="let image of exampleData.images; index as i; count as c">
          <img
            [src]="image"
            alt="Application Screen Shot"
            class="d-block w-100"
          />
        </slide>
      </carousel>
    </div>
  </div>
</div>
