<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>                        
			</button>
			<div class="navbar-brand">Shane Taylor <span size="2" style="letter-spacing: 0px" >Software Developer</span></div>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#who">WHO</a></li>
				<li><a href="#what">WHAT</a></li>
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">EXAMPLE WORK<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#android">Android Development</a></li>
					<li><a href="#wpf">Windows Presentation Foundation</a></li>
					<li><a href="#documentation">SRS and ADD documentation</a></li>
					<li><a href="#php">PHP and SQL</a></li>
				</ul>
			</ul>
		</div>
	</div>
</nav>