<div id="what"></div>
<div class="container-fluid bg-5">
  <div class="col-10 mx-auto">
    <h3 class="mb-3">What Am I?</h3>
    <p>
      {{ whatBlurb.current }}
    </p>
    <p>
      {{ whatBlurb.stack }}
    </p>
    <p>
      {{ whatBlurb.graphy.a }}
      <span size="5">
        <a
          rel="noopener noreferrer"
          [href]="graphyLink"
          target="_blank"
          style="color: orange"
          >{{ whatBlurb.graphy.graphy }}</a
        ></span
      >{{ whatBlurb.graphy.b }}
    </p>
    <p>
      {{ whatBlurb.testOut.a }}
      <a
        rel="noopener noreferrer"
        [href]="networkCert"
        target="_blank"
        style="color: orange"
      >
        {{ whatBlurb.testOut.b }}</a
      >
      {{ whatBlurb.testOut.c }}
    </p>
  </div>
</div>
