<a id="what"></a>
<div class="container-fluid bg-5">
  <div class="col-10 mx-auto">
    <h3 class="mb-3">What Am I?</h3>
    <p>
      {{ whatBlurb.current }}
    </p>
    <p>
      {{ whatBlurb.android }}
      <br />
      {{ whatBlurb.graphy.a }}
      <span size="5">
        <a [href]="graphyLink" target="_blank" style="color: orange">{{
          whatBlurb.graphy.graphy
        }}</a></span
      >{{ whatBlurb.graphy.b }}
    </p>
    <p>
      {{ whatBlurb.testOut.a }}
      <a [href]="networkCert" target="_blank" style="color: orange">
        {{ whatBlurb.testOut.b }}</a
      >
      {{ whatBlurb.testOut.c }}
    </p>
  </div>
</div>
