@import '../../variables.scss';

.min-btn-width {
  width: 100%;
  max-width: 340px;
}
p {
  margin-bottom: 0px;
}
a {
  color: $orange-color;
}
.app-example-container {
  flex: 1 1 auto;
  min-width: 300px;
  max-width: 49vw;
}
.example-placement {
  flex: 1 1 auto;
  align-self: center;
}
.anchor-offset {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
