@use '../../variables' as *;

.min-btn-width {
  max-width: 340px;
  width: 100%;
}

p {
  margin-bottom: 0;
}

a {
  color: $orange-color;
}

.app-example-container {
  flex: 1 1 auto;
  max-width: 49vw;
  min-width: 300px;
}

.example-placement {
  align-self: center;
  flex: 1 1 auto;
}

.anchor-offset {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}
