<div class="d-flex">
  <div class="d-flex flex-wrap bg-4">
    <div id="example-work-container"
         class="container-fluid">
      <div id="work"
           class="col-lg-7 mx-auto">
        <h3 class="mb-3 text-start">Example Work</h3>
        <p class="mb-5">
          {{ siteBlurb }}
        </p>
      </div>
      <st-charts #stDevChart
                 id="st-dev-chart"
                 [chartName]="'shanetaylor'"
                 [theme]="'dark-fresh-cut'"></st-charts>
    </div>
    <div id="allrepo-chart-container"
         class="container-fluid">
      <p class="col-lg-7 mx-auto">
        {{ githubBlurb }}
      </p>
      <div class="p-3 text-center pb-5">
        <a rel="noopener noreferrer"
           [href]="personalRepos"
           class="btn btn-outline-secondary min-btn-width">
          <i class="fab fa-github"></i> {{ viewProject }}
        </a>
      </div>
      <st-charts #allRepoChart
                 id="allrepo-chart"
                 [chartName]="'allRepos'"
                 [theme]="'dark-fresh-cut'"></st-charts>
    </div>

    <div class="d-flex flex-wrap bg-5 justify-content-around">
      <ng-container *ngFor="let example of projects$ | async">
        <div class="d-flex col-sm-1 col-lg-5">
          <div id="{{ example.name }}"
               class="anchor-offset"></div>
          <st-example class="example-placement m-auto"
                      [exampleData]="example"></st-example>
        </div>
      </ng-container>
    </div>
  </div>
</div>