<div class="bg-5 container-fluid pl-0 pr-0 pt-0 text-center">
  <div class="container-fluid bg-4">
    <a id="work"></a>
    <h3 class="margin">Example Work</h3>
    <p class="mb-5">
      {{ siteBlurb }}
    </p>
    <app-charts [chartName]="'shanetaylor'" [theme]="'dark'"></app-charts>
  </div>
  <div class="container-fluid">
    <p>
      {{ githubBlurb }}
    </p>
    <div class="p-3">
      <a [href]="personalRepos" class="btn btn-outline-secondary btn-lg mr-3">
        <fa-icon [icon]="faGithub"></fa-icon> {{ viewProject }}
      </a>
    </div>
    <div class="container-fluid">
      <app-charts
        class="pb-5"
        [chartName]="'allRepos'"
        [theme]="'dark-bold'"
      ></app-charts>
    </div>
    <div class="d-flex flex-wrap">
      <app-example
        class="example-placement m-auto"
        id="thg"
        [exampleData]="thgInfo"
        [langData]="graphyLangData"
      ></app-example>
      <app-example
        class="example-placement m-auto"
        id="graphy"
        [exampleData]="graphyInfo"
        [langData]="graphyLangData"
      ></app-example>
      <app-example
        class="example-placement m-auto"
        id="spotter"
        [exampleData]="spottertInfo"
        [langData]="spotterLangData"
      ></app-example>
      <app-example
        class="example-placement m-auto"
        id="documentation"
        [exampleData]="sweDocInfo"
      ></app-example>
      <app-example
        class="example-placement m-auto"
        id="brewBuddy"
        [exampleData]="brewBuddyInfo"
        [langData]="brewbuddyAndroindLangData"
      ></app-example>

      <!-- <div class="col-md-6 d-flex align-items-center">
        <div class="card shadow-lg">
           content start 
          <div #pixelHero class="row">
              <a id="php"></a>
              <p style="padding: 5%">
                <span class="emphasis">Pixel Hero Project Highlights</span>
                <br />
                Cooperatively Created Through Agile Process
                <span class="emphasis"> &#8281; </span> Functional Multi-Entity
                MySQL Database <span class="emphasis"> &#8281; </span> Secure
                Administrative URLs
                <span class="emphasis"> &#8281; </span> mysqli_connect
                Authentication <span class="emphasis"> &#8281;</span> Full Stack
                Functionality <br />
                <br />
                Pixel Hero is an example online game hub built with PHP (version
                4.5.4) designed to connect gamers with each other and content
                they care about. Using phpMyAdmin on a MySQL server type, my
                team created a robust site with a database consisting of
                multiple entities full of user and administrator specific tools.
              </p>
              <iframe
                style="height: 1000px"
                class="frame"
                src="https://www.shanetaylor.dev/Pixel_Hero/index.php"
              ></iframe>
            </div>
          </div>
           content end 
      </div> -->
    </div>
  </div>
</div>
