@import 'variables';

body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: $off-white-color;
}
a {
  color: $orange-color;
  text-decoration: none;
}
a:hover {
  color: $orange-color;
}
a:visited {
  color: $orange-color;
}
a:focus {
  color: $orange-color;
}
p {
  font-size: 16px;
}
.margin {
  margin-bottom: 45px;
}
.card {
  background-color: unset;
}
hr {
  margin: 0px;
}
.emphasis {
  size: 5;
  font-size: larger;
  color: $teal-color;
}
.bg-1 {
  background-color: $teal-color;
  color: $white-color;
}
.bg-2 {
  background-color: $grey-1-color;
  color: $white-color;
}
.bg-3 {
  background-color: $white-color;
  color: $grey-2-color;
}
.bg-4 {
  background-color: $dark-grey-color;
  color: $white-color;
}
.bg-5 {
  background-color: $black-color;
  color: $white-color;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: $teal-color !important;
}
.frame {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}
