@import 'variables';

body {
  color: $off-white-color;
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  background-color: #1abc9c;
}

a:hover {
  color: $orange-color;
}

a {
  color: $orange-color;
  text-decoration: none;

  :visited {
    color: $orange-color;
  }

  :focus {
    color: $orange-color;
  }
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
}

.card {
  background-color: unset;
}

hr {
  margin: 0;
}

.emphasis {
  color: $teal-color;
  font-size: larger;
  size: 5;
}

.bg-1 {
  background-color: $teal-color;
  color: $white-color;
}

.bg-2 {
  background-color: $grey-1-color;
  color: $white-color;
}

.bg-3 {
  background-color: $white-color;
  color: $grey-2-color;
}

.bg-4 {
  background-color: $dark-grey-color;
  color: $white-color;
}

.bg-5 {
  background-color: $black-color;
  color: $white-color;
}

.container-fluid {
  padding-bottom: 70px;
  padding-top: 70px;
}

.navbar {
  border: 0;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: 5px;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;

  li {
    :hover {
      color: $teal-color !important;
    }
  }

  a {
    :hover {
      color: $teal-color !important;
    }
  }
}

.frame {
  border: 0 none;
  box-sizing: border-box;
  display: block;
  height: 100vh;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100vw;
}
