body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}

p {
  font-size: 16px;
}

.margin {
  margin-bottom: 45px;
}

.card {
  background-color: unset;
}

hr {
  margin: 0px;
}

.emphasis {
  size: 5;
  font-size: larger;
  color: #1abc9c;
}

.bg-1 {
  background-color: #1abc9c;
  color: #ffffff;
}

.bg-2 {
  background-color: #474e5d;
  color: #ffffff;
}

.bg-3 {
  background-color: #ffffff;
  color: #555555;
}

.bg-4 {
  background-color: #2f2f2f;
  color: #fff;
}

.bg-5 {
  background-color: #000000;
  color: #fff;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #1abc9c !important;
}

.frame {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}
