// Colors
$teal-color: #1abc9c !default;
$orange-color: #ffa500 !default;
$white-color: #fff !default;
$off-white-color: #f5f6f7 !default;
$black-color: #000 !default;
$grey-1-color: #474e5d !default;
$grey-2-color: #555 !default;
$dark-grey-color: #333 !default;
